.div1{
    background-color: rgb(243, 243, 243);
    height: 43rem;
}
img{
    width: 250px;
}
h1{
    font-size: 30px;
    font-weight: 400;
}
#bouge1{
    margin-left: 100px;
    margin-top: 100px;
}

.connexion{
    width: 70%;
    background-color: #fff;
    margin-left: 80px;
    margin-top: 100px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 2em rgb(219, 219, 219);
}
.connexion input{
    border: 1px solid rgb(187, 184, 184);
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(219, 219, 219);
}
.remplir:active{
    border: 1px solid rgb(36, 64, 221) !important;
}
.connexion input, button[type="submit"]{
    margin-top: 20px;
    width: 350px;
    height: 50px;

}
 

.connexion .mbtn{
    background-color: rgba(49, 202, 43, 0.925);
    color: #fff;
    font-weight: 500;
}
.connexion .mbtn:hover{
    background-color: rgba(21, 141, 17, 0.925);
}
.ppp{
    width: 70%;
    font-weight: 500;
    margin-left: 80px;
    margin-top: 20px;
    text-align: center;
}
.ppp span{
    font-size: 14px;
    font-weight: 400;
    color: rgb(43, 42, 42);
    
}




.footer{
    width: 80%;
    font-size: 13px;
    margin-top: 15px;
}
.footer a{
    color: gray;
    margin-left: 10px;
}
.p2 a{
    color: gray;
    margin-left: 20px;
}
 .fa-plus{
     background-color: rgb(241, 244, 247);
     width: 30px;
     height: 20px;
     text-align: center;
     border: 1px solid gray;
     color: rgb(24, 23, 23);
 }
 .fa-google-play{
     color: rgb(73, 29, 177);
 }

 .copy{
     color: gray;
     font-size: 11px;
     margin-left: 20px;
 }